---
- name: preseed Kerberos installation
  ansible.builtin.debconf:
    name: krb5-config
    question: krb5-config/{{ item.key }}
    value: '{{ item.value }}'
    vtype: string
  loop:
    - { key: default_realm, value: '{{ realm }}' }
    - { key: kerberos_servers, value: '{{ kdc_servers }}' }
    - { key: admin_server, value: '{{ kadmin_servers }}' }

- name: install krb5-kdc
  ansible.builtin.package:
    name:
      - krb5-kdc-ldap
      - krb5-admin-server
      - schema2ldif
    state: present

- name: read Kerberos LDAP schema
  ansible.builtin.slurp: src=/usr/share/doc/krb5-kdc-ldap/kerberos.schema.gz
  register: slurp_result

- ansible.builtin.import_tasks: setup_ldap.yaml
  vars:
    kerberos_schema: '{{ slurp_result.content }}'
  delegate_to: '{{ groups.ldap_server[0] }}'

- name: finalise realm configuration
  ansible.builtin.blockinfile:
    path: /etc/krb5.conf
    insertafter: 'admin_server = {{ kdc_servers }}'
    block: |
      default_domain = {{ domain }}
      database_module = openldap_ldapconf
    marker: '# {mark} Ansible realm block'
  notify: restart krb5-kdc


- name: configure ldap dbmodule
  ansible.builtin.blockinfile:
    path: /etc/krb5.conf
    block: |
      [dbdefaults]
              ldap_kerberos_container_dn = cn=krbContainer,{{ ldap_suffix }}

      [dbmodules]
              openldap_ldapconf = {
                      db_library = kldap

              # if either of these is false, then the ldap_kdc_dn needs to
              # have write access
              disable_last_success = true
              disable_lockout  = true

                      # this object needs to have read rights on
                      # the realm container, principal container and realm sub-trees
                      ldap_kdc_dn = "uid=kdc-service,{{ ldap_suffix }}"

                      # this object needs to have read and write rights on
                      # the realm container, principal container and realm sub-trees
                      ldap_kadmind_dn = "uid=kadmin-service,{{ ldap_suffix }}"

                      ldap_service_password_file = /etc/krb5kdc/service.keyfile
                      ldap_servers = ldapi:///
                      ldap_conns_per_server = 5
              }
    marker: '# {mark} Ansible ldap dbmodule block'
  notify: restart krb5-kdc

- name: initialise realm
  ansible.builtin.command: kdb5_ldap_util -D cn=admin,{{ ldap_suffix }} -w {{ mainpw }} -H ldapi:/// -r {{ realm }} create -subtrees {{ ldap_suffix }} -s -P "{{ mainpw }}"
  register: kdb5_ldap_utilresult
  failed_when:
    - kdb5_ldap_utilresult is failed
    - kdb5_ldap_utilresult.stderr is not search('Already exists while creating realm')
  changed_when: kdb5_ldap_utilresult is succeeded

- name: Convert servicepw to hex
  ansible.builtin.shell: "echo -n '{{ servicepw }}' | od -An -tx1 | tr -d ' \n'"
  register: servicepw_hex
  changed_when: false

- name: manually stash service password into service.keyfile
  ansible.builtin.copy:
    content: |
      uid=kdc-service,{{ ldap_suffix }}#{HEX}{{ servicepw_hex.stdout }}
      uid=kadmin-service,{{ ldap_suffix }}#{HEX}{{ servicepw_hex.stdout }}
    dest: /etc/krb5kdc/service.keyfile
    owner: root
    group: root
    mode: '0600'

- name: configure */admin@{{ realm }}
  ansible.builtin.lineinfile:
    dest: /etc/krb5kdc/kadm5.acl
    line: '*/admin@{{ realm }} *'
    mode: '600'
    state: present
    create: true
  notify: restart krb5-admin-server

- name: start krb5-kdc
  ansible.builtin.service: name=krb5-kdc state=started

- name: start krb5-admin-server
  ansible.builtin.service: name=krb5-admin-server state=started

- name: create admin/admin principal
  ansible.builtin.command: kadmin.local -q "addprinc -pw {{ mainpw }} {{ kadmin_princ }}"
  register: kadmin_result
  changed_when: kadmin_result.stderr is not search('Principal or policy already exists')
