---
- name: preseed Kerberos installation
  ansible.builtin.debconf:
    name: krb5-config
    question: krb5-config/{{ item.key }}
    value: '{{ item.value }}'
    vtype: string
  loop:
    - { key: default_realm, value: '{{ realm }}' }
    - { key: kerberos_servers, value: '{{ kdc_servers }}' }
    - { key: admin_server, value: '{{ kadmin_servers }}' }

- name: install krb5-kdc
  ansible.builtin.package:
    name: krb5-kdc
    state: present

- name: initialise realm
  ansible.builtin.command: kdb5_util create -s -P "supersecretpassword"
  register: kdb5_util_result
  failed_when:
    - kdb5_util_result is failed
    - kdb5_util_result.stderr is not search('File exists while creating database')
  changed_when: kdb5_util_result is succeeded

- name: configure */admin@{{ realm }}
  ansible.builtin.lineinfile:
    dest: /etc/krb5kdc/kadm5.acl
    line: '*/admin@{{ realm }} *'
    mode: '600'
    state: present
    create: true

- name: start krb5-kdc
  ansible.builtin.service: name=krb5-kdc state=started
