---
- name: create host principal
  ansible.builtin.command: kadmin -p {{ kadmin_princ }} -w {{ mainpw }} -q "addprinc -randkey host/{{ ansible_hostname }}.{{ domain }}"
  register: kadmin_result
  changed_when: kadmin_result.stderr is not search('Principal or policy already exists')

- name: check if keytab is already created
  ansible.builtin.command: klist -k
  register: klist_result
  changed_when: no
  failed_when:
    - klist_result is failed
    - klist_result.stderr is not search('not found while starting keytab scan')

- name: create keytab for host
  ansible.builtin.command: kadmin -p {{ kadmin_princ }} -w {{ mainpw }} -q "ktadd host/{{ ansible_hostname }}.{{ domain }}"
  changed_when: yes
  when: klist_result is failed or klist_result.stdout is not search('host/' + ansible_hostname + '.' + domain)

- name: install nfs packages
  ansible.builtin.package:
    name: nfs-common
    state: present

- name: mount {{ sample_share }}
  ansible.posix.mount:
    src: '{{ groups.nfs_server[0] }}:{{ sample_share }}'
    path: '{{ sample_share }}'
    state: mounted
    fstype: nfs
    opts: rw,sec=krb5p,_netdev,x-systemd.automount,x-systemd.idle-timeout=1min