---
- name: preseed Kerberos installation
  ansible.builtin.debconf:
    name: krb5-config
    question: krb5-config/{{ item.key }}
    value: '{{ item.value }}'
    vtype: string
  loop:
    - { key: default_realm, value: '{{ realm }}' }
    - { key: kerberos_servers, value: '{{ kdc_servers }}' }
    - { key: admin_server, value: '{{ kadmin_servers }}' }

- name: install krb5-admin-server
  ansible.builtin.package:
    name: krb5-admin-server
    state: present
