---
- hosts: ldap_server
  become: true

  roles:
    - ldap_server

- hosts: kdc_kadmin
  become: true

  roles:
    - kdc_kadmin

- hosts: nfs_server
  become: true

  roles:
    - nfs_server

- hosts: client
  become: true

  roles:
    - auth_client
    - nfs_client

