---
- hosts: all
  become: true

  tasks:
    - name: update package cache
      ansible.builtin.package:
        update_cache: true

- hosts: ldap_server
  become: true

  roles:
    - ldap_server

- hosts: kdc_kadmin
  become: true

  roles:
    - kdc_kadmin

- hosts: nfs_server
  become: true

  roles:
    - auth_client
    - nfs_server

- hosts: client
  become: true

  roles:
    - auth_client
    - nfs_client

