[sssd]
services = nss, pam
domains = {{ domain }}

[domain/{{ domain }}]
id_provider = ldap
auth_provider = krb5
chpass_provider = krb5

# LDAP
ldap_uri = {{ ldap_uri }}
ldap_search_base = {{ ldap_suffix }}
ldap_tls_reqcert = never

# Kerberos
krb5_server = {{ kdc_servers }}
krb5_kpasswd = {{ kadmin_servers }}
krb5_realm = {{ realm }}
